/*textfloorp!*/

@import url("./chrome/browser.css");
@import url("./chrome/findbar.css");

@import url("./chrome/menus.css");
@import url("./chrome/icons.css");
@import url("./chrome/navbar.css");
@import url("./chrome/overwrites.css");
@import url("./chrome/firefoxsidebar.css");
@import url("./chrome/floorpsidebar.css");
@import url("./chrome/tabs.css");
@import url("./chrome/urlbar.css");

/* configurations - DO NOT CHANGE ORDER */
@import url("./config/defaults.css");
@import url("./config/config.css");
@import url("./config/logo.css");

* {
  font-family: var(--tf-font-family);
  font-size: var(--tf-font-size);
}

body {
  background-color: var(--tf-bg);
}

::placeholder {
  text-transform: var(--tf-text-transform);
}
